<br>
<h4 style="text-align: center; font-size: 20px;"><strong>REPORTES DE PARTICIPACION DE COLEGIOS</strong></h4>
<br>
<div class="col-sm-12 col-md-6 col-lg-4 col-xl-10 offset-1"> 
  <mat-form-field appearance="fill">
    <mat-label>GESTION</mat-label>
    <mat-select>
      <mat-option>Vacio</mat-option>
      <mat-option *ngFor="let c of anio" [value]="c" (click)="fechar(c);">{{c}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div  *ngFor="let cat of categorias;let i=index">
  <br>  
  <div class="btn-group offset-3" role="group" aria-label="Basic example">
    <!-- <button class="btn btn-danger btn-sm">CATEGORIA: {{cate[i].titulo}}</button> -->
    <!-- <button class="btn btn-outline-danger btn-sm">{{cate[i].descripcion}} </button> -->
  </div>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colores[i]"
    [results]="cat"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-pie-chart> 
</div>