.alerta{
    background-color: #f19999;
}
// .normal{
//     // background-color: rgb(102, 206, 102);
// }
.rojo{
    color: red;
}
.negro{
    color: #000;
}
.row{
    width: 100%;
}
.example-viewport {
    height: 500px;
    width: 200px;
    color: #000;
  }
  
.example-item {
    height: 120px;
}
.prueba:hover{
    background-color:yellow;
}