<br>
<h2 style="text-align: center; font-size: 30px;"><strong>Bienvenido</strong></h2>
<h5 style="text-align: center; font-size: 18px;">
    Te encuentras en estos momentos en el area de administración, con tus privilegios puedes operar en lo siguiente:
</h5>
<br>
<hr>
<div class="row" style="width: 100%;">
    <div class="col-xl-4 col-lg-4">
            <h4><strong>GESTION PERSONAS</strong></h4>
            <div class="btn btn-outline-dark" style="width: 100%;" routerLink="/admin/usuario">
                <img src="../../../assets/images/usuarios.png" style="width: 60px;height: 60px;">
                Usuarios
            </div>
            <div class="btn btn-outline-dark" style="width: 100%;" routerLink="/admin/proveedor">
                <img src="../../../assets/images/proveedor.jpg" style="width: 60px;height: 60px;">
                Proveedores
            </div>
            <div class="btn btn-outline-dark" style="width: 100%;" routerLink="/admin/cliente">
                <img src="../../../assets/images/clientes.png" style="width: 60px;height: 60px;">
                Clientes
            </div>
        </div>
    <div class="col-xl-4 col-lg-4">
        <h4><strong>GESTION FERRETERIA</strong></h4>
        <div class="btn btn-outline-primary" style="width: 100%;" routerLink="/admin/ferreteria/producto">
            <img src="../../../assets/images/productos.jpg" style="width: 60px;height: 60px;">
            Productos
        </div>
        <div class="btn btn-outline-primary" style="width: 100%;" routerLink="/admin/ferreteria/inventario">
            <img src="../../../assets/images/inventario.jpg" style="width: 60px;height: 60px;">
            Inventario
        </div>
        <div class="btn btn-outline-primary" style="width: 100%;" routerLink="/admin/ferreteria/venta">
            <img src="../../../assets/images/ventas.png" style="width: 60px;height: 60px;">
            Ventas
        </div>
    </div>
    
    <div class="col-xl-4 col-lg-4">
        <h4><strong>GESTION BARRACA</strong></h4>
        <div class="btn btn-outline-danger" style="width: 100%;" routerLink="/admin/barraca/producto">
            <img src="../../../assets/images/productos.jpg" style="width: 60px;height: 60px;">
            Productos
        </div>
        <div class="btn btn-outline-danger" style="width: 100%;" routerLink="/admin/barraca/inventario">
            <img src="../../../assets/images/inventario.jpg" style="width: 60px;height: 60px;">
            Inventario
        </div>
        <div class="btn btn-outline-danger" style="width: 100%;" routerLink="/admin/barraca/venta">
            <img src="../../../assets/images/ventas.png" style="width: 60px;height: 60px;">
            Ventas
        </div>
    </div>
</div>    
