.row{
    width: 100%;
}
.mat-icon {
    font-size: 18px; 
}   
.example-viewport {
    height: 500px;
    width: 100%;
    // border: 1px solid black;
    color: #000;
}  
.example-item {
    height: 120px;
}
.rojo{
    color: red;
}
.negro{
    color: black;
}
.centro{
    text-align: center;
}