<div>
    <h4 mat-dialog-title class="centro"><strong>{{titulo}}</strong></h4>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 700px; padding: 1rem;">
            <form [formGroup]="agregar">
                <mat-form-field appearance="fill" *ngIf="tipo==1">
                    <mat-label>Stock</mat-label>
                    <input matInput formControlName="stock" type="number" name="stock" minlength="5" maxlength="20" placeholder="Precio venta">
                    <!-- <mat-error *ngIf="stock.invalid">{{error_stock()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="tipo==2">
                    <mat-label>Precio Compra</mat-label>
                    <input matInput formControlName="precio_compra" type="number" name="precio_compra" minlength="5" maxlength="20" placeholder="Precio Tienda">
                    <!-- <mat-error *ngIf="precio_compra.invalid">{{error_precio_compra()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="tipo==3">
                    <mat-label>Precio Venta</mat-label>
                    <input matInput formControlName="precio_venta" type="number" name="precio_venta" minlength="5" maxlength="20" placeholder="Precio Final">
                    <!-- <mat-error *ngIf="precio_venta.invalid">{{error_precio_final()}}</mat-error> -->
                </mat-form-field>
                
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
        <button mat-button [mat-dialog-close]="agregar" class="btn btn-danger" (click)="nuevo()">Actualizar</button>
    </div>
</div>